.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: #000000;
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #fefafc;
}

.place-card-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.place-card-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.place-card-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 767px) {
  .place-card-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .place-card-container {
    width: 300px;
  }
}

.blog-post-card2-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card2-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.blog-post-card2-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.blog-post-card2-text {
  margin-bottom: 32px;
}
.blog-post-card2-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}



@media(max-width: 991px) {
  .blog-post-card2-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .blog-post-card2-blog-post-card {
    flex-direction: column;
  }
  .blog-post-card2-image {
    width: 100%;
  }
}

.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-top-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://th.bing.com/th/id/OIP.PbZ1Wc20z-GzwmOw6clivwHaH2?pid=ImgDet&w=500&h=530&rs=1');
  background-position: 0% 40%;
}
.landing-page-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  padding-left: 2em;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.54);
}
.landing-page-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link {
  color: #ffffff;
  font-weight: 700;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-link01 {
  color: #ffffff;
  font-weight: 700;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-link02 {
  color: #ffffff;
  font-weight: 700;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-link03 {
  display: contents;
}
.landing-page-component {
  text-decoration: none;
}
.landing-page-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-burger-menu1 {
  width: 24px;
  height: 24px;
}
.landing-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.landing-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-icon03 {
  width: 24px;
  height: 24px;
}
.landing-page-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text {
  margin-bottom: 8px;
}
.landing-page-text01 {
  margin-bottom: 8px;
}
.landing-page-text02 {
  margin-bottom: 8px;
}
.landing-page-link04 {
  display: contents;
}
.landing-page-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text04 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link05 {
  display: contents;
}
.landing-page-icon05 {
  width: 24px;
  height: 24px;
}
.landing-page-link06 {
  display: contents;
}
.landing-page-icon07 {
  width: 24px;
  height: 24px;
}
.landing-page-link07 {
  display: contents;
}
.landing-page-icon09 {
  width: 24px;
  height: 24px;
}
.landing-page-hero {
  flex: 1;
  width: 1081px;
  height: 530px;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.landing-page-content-container {
  width: 678px;
  height: 276px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.53);
}
.landing-page-text05 {
  width: 625px;
}
.landing-page-text06 {
  color: #ffffff;
}
.landing-page-subheading {
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}
.landing-page-container1 {
  width: 453px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text08 {
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-text09 {
  color: #ffffff;
}
.landing-page-link08 {
  display: contents;
}
.landing-page-component02 {
  text-decoration: none;
}
.landing-page-hero1 {
  width: 100%;
  height: 686px;
  display: flex;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  padding-left: 21px;
  padding-right: 48px;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-container2 {
  display: flex;
  margin-right: 48px;
  flex-direction: column;
}
.landing-page-text11 {
  width: 630px;
  height: 335px;
  font-size: 3rem;
  max-width: 450px;
}
.landing-page-text12 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.landing-page-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.landing-page-link09 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link09:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.landing-page-image {
  width: 466px;
  height: 621px;
  object-fit: cover;
}
.landing-page-main {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text14 {
  font-size: 3rem;
  text-align: center;
}
.landing-page-text15 {
  max-width: 1400px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.landing-page-link10 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link10:hover {
  transform: scale(1.02);
}
.landing-page-pricing {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200');
  background-position: center;
}
.landing-page-container3 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  padding-right: 48px;
  background-size: cover;
  justify-content: center;
  background-image: url('https://th.bing.com/th/id/OIP.1xxLKUhpZB9n9n6XFDnDCwHaEK?pid=ImgDet&w=1920&h=1080&rs=1');
}
.landing-page-pricing-card {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.landing-page-pricing-card:hover {
  transform: scale(1.02);
}
.landing-page-image1 {
  width: 270px;
  height: 203px;
  object-fit: cover;
}
.landing-page-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 53px;
  flex-direction: column;
}
.landing-page-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-link11 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.landing-page-pricing-card1 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-page-pricing-card1:hover {
  transform: scale(1.02);
}
.landing-page-image2 {
  width: 239px;
  object-fit: cover;
}
.landing-page-container5 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.landing-page-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text23 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text26 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-link12 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.landing-page-pricing-card2 {
  width: 100%;
  height: 548px;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.landing-page-pricing-card2:hover {
  transform: scale(1.02);
}
.landing-page-image3 {
  width: 274px;
  height: 175px;
  object-fit: cover;
}
.landing-page-container6 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.landing-page-text27 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-link13 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.landing-page-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-container7 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-container8 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.landing-page-image4 {
  height: 2rem;
  object-fit: cover;
}
@media(max-width: 991px) {
  .landing-page-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .landing-page-hero1 {
    flex-direction: column;
  }
  .landing-page-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .landing-page-text11 {
    text-align: center;
  }
  .landing-page-text12 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
  .landing-page-cards-container {
    justify-content: center;
  }
  .landing-page-text15 {
    max-width: 100%;
  }
  .landing-page-pricing-card {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .landing-page-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .landing-page-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .landing-page-right-side {
    display: none;
  }
  .landing-page-burger-menu {
    display: flex;
  }
  .landing-page-hero {
    justify-content: center;
  }
  .landing-page-content-container {
    align-items: center;
  }
  .landing-page-text05 {
    font-size: 2.5rem;
  }
  .landing-page-text08 {
    text-align: center;
  }
  .landing-page-hero1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text12 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-image {
    width: 80%;
  }
  .landing-page-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text15 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-container3 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .landing-page-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .landing-page-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .landing-page-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text31 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .landing-page-text05 {
    font-size: 2rem;
    text-align: center;
  }
  .landing-page-subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .landing-page-hero1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .landing-page-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .landing-page-btn-group {
    flex-direction: column;
  }
  .landing-page-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .landing-page-container3 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .landing-page-pricing-card2 {
    margin-bottom: 0px;
  }
  .landing-page-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .landing-page-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .landing-page-image4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .landing-page-text31 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
